<% include ../partials/header.ejs %>
    <div style="margin: 100px;">
        <h1 style="font-family:Tahoma;"> Genterated Exam </h1>
        <% if(Questions.length !=0) {%>
            <% Questions.forEach(function(question){ %>
                <p>
                    <%= question.title %>
                </p>
                <div class="form-check">
                    <label class="form-check-label">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            <% question.answers=JSON.parse(question.answers) %>
            <%= question.answers.answer1 %>
          </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            <%= question.answers.answer2 %>
          </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            <%= question.answers.answer3 %>
          </label>
                </div>
                <% }); %>
                    <% } %>
    </div>
    <% include ../partials/footer.ejs %>
